In [1]:
import numpy as np

In [2]:
revenue = np.array([[180,200,220],[24,36,40],[12,18,20]])
expenses= np.array([[80,90,100],[10,16,20],[8,10,10]])

In [3]:
profit= revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [4]:
profit_per_unit = np.array([1000,400,1200])
units =np.array([[30,40,50],[5,10,15],[2,5,17]])

In [5]:
np.dot(profit_per_unit,units)

array([34400, 50000, 76400])

## Exercise

### 1: Convert USD revenues to INR

In [6]:
revenue = np.array([[200,220,250],[68,79,105],[110,140,180],[80,85,90]])

In [7]:
ind_cur = np.array([75])

In [8]:
revenue*ind_cur

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

### 2: Calculate total flowers sale every month for divine flowers shop

In [9]:
unit_Sold =np.array([[50,60,25],[10,13,5],[40,70,52]])
price_per_unit = np.array([20,30,15])

In [10]:
np.dot(unit_Sold,price_per_unit)

array([3175,  665, 3680])